*{box-sizing:border-box}
html{background:#020e26}
body{margin:auto;padding:0;width:100%;font-family:"Microsoft Yahei";max-width:1000px;overflow-x:hidden; background-color: #020e26;}
body,html{position:relative;height:100%}
blockquote,button,dd,dl,dt,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;color:#000}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:100}
fieldset,iframe,img,table{border:0}
dd,dl,dt,li,ol,ul{list-style:none}
b{font-weight:100}
em,i{font-style:normal}
a{color:#333;text-decoration:none}
a:hover{text-decoration:none}
img{vertical-align:top}
.clear{clear:both}
.clearfix{zoom:1}
.clearfix:after{content:'.';display:block;visibility:hidden;clear:both;width:1px;height:1px}
.left{float:left}
.right{float:right}
.ta_c{text-align:center}
.ta_r{text-align:right}
.pos_abs{position:absolute}
.pos_rel{position:relative}
.wrapper{margin:auto;width:850px;position:relative}
.hidden{display:none}
.indent{text-indent:2em}
.weixinPic{height:1px;overflow:hidden;position:absolute;left:0;top:-2px}
.box_h{position:absolute;top:0;left:0;width:100%;height:100%;z-index:3}
.pa{position:absolute}
.pr{position:relative}
.hide{display:none}
.loading{position:fixed;left:0;top:0;z-index:999;width:100%;height:100%}
.loading_logo {position:absolute;left:50%;margin-left:-103px;top:50%;margin-top:-88px;}
.range{position:absolute;left:50%;margin-left:-200px;top:50%;margin-top:0;width:400px;height:6px;background-color:#fff;border-radius:3px}
.range2{position:absolute;left:50%;margin-left:-200px;top:50%;margin-top:0;width:0;height:6px;background-color:#f07d00;border-radius:3px}
.text{left:0;top:50%;margin-top:30px;color:#f07d00;text-align:center;font-size:30px;width:100%;height:40px;line-height:40px}
.swiper-container{width:100%;height:100%}
.swiper-slide{position:relative}
.swiper-slide-active{overflow:auto!important}
.ani{animation-timing-function:linear;-webkit-animation-timing-function:linear}
.bg{width:100%;height:100%;background-size:cover;background-position:center top;background-repeat:no-repeat;position:absolute;left:0;top:0}
.bg0{background:#020e26;}
.bg1{background-image:url(../../../images/static/mido16/bg1.jpg)}
.bg10{background-image:url(../../../images/static/mido16/bg10.jpg)}
.deep_num { display: none; font-size: 30px; color: #fff; position: absolute; top: 20px; left: 30px; }
.deep_num em { font-size: 48px; font-style: italic; }
.swiper-container-small{position:absolute;left:50%;top:50%;margin-left:-375px;margin-top:-464px;width:750px;height:730px;overflow:hidden}
.one-logo{left:50%;margin-left:146px;top:50%;margin-top:-610px}
.one-center{left:50%;margin-left:-241px;top:50%;margin-top:-280px}
.one-btn{left:50%;margin-left:-144px;top:50%;margin-top:470px}
.video-wrap{position:absolute;left:50%;top:50%;margin-left:-375px;margin-top:-460px;width:750px;height:450px;background-color:#0d546d;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;justify-content:center;align-items:center}
.video-wrap:after{content: '';  position: absolute;  bottom: -45px;  right:57px;  width: 241px;  height: 50px;;  background: rgba(13,84,109,0.4); }
.video-wrap:before{content: '';  position: absolute;  top:-60px;  left: 35px;  width: 500px;  height:65px;  background: rgba(13,84,109,0.4);}
.video-inner{width:703px;height:393px}
.two-font{left:50%;top:50%;margin-left:-255px;margin-top:190px;}
.two-font img{display:block;margin-bottom: 43px;}
.three-deep{left:50%;margin-left:-334px;top:50%;margin-top:-590px}
.three-font{left:50%;margin-left:-171px;top:50%;margin-top:245px}
.three-watch{left:50%;margin-left:-214px;top:50%;margin-top:-540px}
.four-deep{left:50%;margin-left:-334px;top:50%;margin-top:-590px}
.four-font{left:50%;margin-left:-312px;top:50%;margin-top:145px}
.four-font img{display: block;margin-bottom:30px;}
.four-watch{left:50%;margin-left:-264px;top:50%;margin-top:-480px;width: 502px;height: 556px;}
.five-deep{left:50%;margin-left:-334px;top:50%;margin-top:-590px}
.five-font{left:50%;margin-left:-321px;top:50%;margin-top:220px}
.five-font img{display:block;margin-bottom: 32px;}
.five-watch{left:50%;margin-left:-314px;top:50%;margin-top:-460px}
.six-deep{left:50%;margin-left:-334px;top:50%;margin-top:-590px}
.six-font{left:50%;margin-left:-321px;top:50%;margin-top:180px}
.six-font img{display: block;margin-bottom:30px;}
.six-watch{left:50%;margin-left:-384px;top:50%;margin-top:-550px}
.seven-deep{left:50%;margin-left:-334px;top:50%;margin-top:-590px}
.seven-font{left:50%;margin-left:-261px;top:50%;margin-top:-149px;z-index:999}
.seven-watch{left:50%;margin-left:-374px;top:50%;margin-top:-420px}
.eight-deep{left:50%;margin-left:-334px;top:50%;margin-top:-590px}
.eight-font{left:50%;margin-left:-261px;top:50%;margin-top:-140px;z-index:99}
.eight-watch{left:50%;margin-left:-374px;top:50%;margin-top:-460px}
.nine-title{left:50%;margin-left:-244px;top:50%;margin-top:-600px}
.nine-pic{left:50%;margin-left:-300px;top:50%;margin-top:-460px}
.nine-watch1{left:50%;margin-left:5px;top:50%;margin-top:-60px}
.nine-watch2{left:50%;margin-left:-345px;top:50%;margin-top:-60px}
.nine-font1{left:50%;margin-left:-195px;top:50%;margin-top:450px}
.nine-font2{left:50%;margin-left:-85px;top:50%;margin-top:450px}
.nine-plus1{left:50%;margin-left:258px;top:50%;margin-top:420px;cursor: pointer;}
.nine-plus2{left:50%;margin-left:-335px;top:50%;margin-top:420px;cursor: pointer;}
.nine-param1{left:50%;margin-left:-294px;top:50%;margin-top:-530px}
.nine-param2{left:50%;margin-left:-294px;top:50%;margin-top:-530px}
.nine-desc1{left:50%;margin-left: -345px;top: 50%;margin-top:-45px;z-index: -1;}
.nine-desc2{left:50%;margin-left:15px;top:50%;margin-top: -45px;z-index: -1;}
.nine-close{left:50%;margin-left:-62px;top:50%;margin-top:299px}
.param{display:none;z-index:999;width:100%;height:100%;position:relative}
.nine-cover{width:100%;height:100%;background-color:rgba(0,0,0,.9)}
.swiper-container-box{position: absolute;top:40px;left: 77px;width: 601px;height: 687px;}
.ten-title{left:50%;margin-left:-244px;top:50%;margin-top:-600px}
.ten-font{left:50%;margin-left:-44px;top:50%;margin-top:290px}
.ten-btn1{left:50%;margin-left:-311px;top:50%;margin-top:480px}
.ten-btn2{left:50%;margin-left:29px;top:50%;margin-top:480px}
.mycanvas{position:absolute;bottom:0;left:0}
#root{position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;background-color:#000}
.up{background-size:cover;position:absolute;animation-name:up;animation-timing-function:linear;animation-iteration-count:infinite}
.up1{animation-duration:10s;animation-delay:-8px}
.up2{animation-duration:20s;animation-delay:-8px}
.up3{animation-duration:30s;animation-delay:-8px}
.up4{animation-duration:40s;animation-delay:-8px}
.page9prev { position: absolute; top: 50%; left:15px; margin-top: -27.5px; z-index: 10; }
.page9next { position: absolute; top: 50%; right:15px; margin-top: -27.5px; z-index: 10;}
.nextpage { display: none; width: 65px; height: 45px; background: url(../../../images/static/mido16/nextpage.png); position: absolute; bottom: 30px; left: 50%; margin-left: -32px; animation: nextpage 1s infinite; }
@keyframes up{from{transform:translateY(0)}
to{transform:translateY(-1000px)}
}
@keyframes nextpage{from{transform:translateY(-30px)}
to{transform:translateY(10px)}
}